.App {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.table tr td {
  border: 1px solid white;
  background: #999999;
  width: 32px;
  height: 32px;
  text-align: center;
}

.table tr td.clicked {
  background: #333333;
}

.table tr td.mine {
  background: #ff0000;
}

button {
  width: 100px;
  height: 35px;
  margin: auto;
  margin-top: 12px;
}
